In [5]:
import pandas as pd

In [6]:
df = pd.read_excel("sprzedaz.xlsx")

In [7]:
df.set_index("data")

            costs   sold  result  cumulated
data
2019-12-01   2000   4000    2000       2000
2019-12-02   3000   5000    2000       4000
2019-12-03   6000   7000    1000       5000
2019-12-04   7000  10000    3000       8000
2019-12-05   5000   5000       0       8000
2019-12-06   2000   4000    2000      10000
2019-12-07   1000   2000    1000      11000
2019-12-08   1000   5000    4000      15000
2019-12-09   5000   6000    1000      16000
2019-12-10    500   2000    1500      17500
2019-12-11   2200   1000   -1200      16300
2019-12-12   7500   6000   -1500      14800
2019-12-13   6600   5000   -1600      13200
2019-12-14    400   2000    1600      14800
2019-12-15   4000   5000    1000      15800
2019-12-16   7700   6000   -1700      14100
2019-12-17  10000   8000   -2000      12100
2019-12-18   2222   3000     778      12878
2019-12-19   5500   5500       0      12878
2019-12-20   3200   4000     800      13678

In [10]:
df.set_index('data', inplace = True)

In [14]:
df.mean(axis=0)

costs         4091.1
sold          4775.0
result         683.9
cumulated    11851.7
dtype: float64