In [10]:
import pandas as pd

In [32]:
df = pd.read_excel("sprzedaz.xlsx")

In [33]:
df

         data  costs   sold  result  cumulated
0  2019-12-01   2000   4000    2000       2000
1  2019-12-02   3000   5000    2000       4000
2  2019-12-03   6000   7000    1000       5000
3  2019-12-04   7000  10000    3000       8000
4  2019-12-05   5000   5000       0       8000
5  2019-12-06   2000   4000    2000      10000
6  2019-12-07   1000   2000    1000      11000
7  2019-12-08   1000   5000    4000      15000
8  2019-12-09   5000   6000    1000      16000
9  2019-12-10    500   2000    1500      17500
10 2019-12-11   2200   1000   -1200      16300
11 2019-12-12   7500   6000   -1500      14800
12 2019-12-13   6600   5000   -1600      13200
13 2019-12-14    400   2000    1600      14800
14 2019-12-15   4000   5000    1000      15800
15 2019-12-16   7700   6000   -1700      14100
16 2019-12-17  10000   8000   -2000      12100
17 2019-12-18   2222   3000     778      12878
18 2019-12-19   5500   5500       0      12878
19 2019-12-20   3200   4000     800      13678

In [36]:
df.set_index('data')

            costs   sold  result  cumulated
data
2019-12-01   2000   4000    2000       2000
2019-12-02   3000   5000    2000       4000
2019-12-03   6000   7000    1000       5000
2019-12-04   7000  10000    3000       8000
2019-12-05   5000   5000       0       8000
2019-12-06   2000   4000    2000      10000
2019-12-07   1000   2000    1000      11000
2019-12-08   1000   5000    4000      15000
2019-12-09   5000   6000    1000      16000
2019-12-10    500   2000    1500      17500
2019-12-11   2200   1000   -1200      16300
2019-12-12   7500   6000   -1500      14800
2019-12-13   6600   5000   -1600      13200
2019-12-14    400   2000    1600      14800
2019-12-15   4000   5000    1000      15800
2019-12-16   7700   6000   -1700      14100
2019-12-17  10000   8000   -2000      12100
2019-12-18   2222   3000     778      12878
2019-12-19   5500   5500       0      12878
2019-12-20   3200   4000     800      13678

In [37]:
df.data

0    2019-12-01
1    2019-12-02
2    2019-12-03
3    2019-12-04
4    2019-12-05
5    2019-12-06
6    2019-12-07
7    2019-12-08
8    2019-12-09
9    2019-12-10
10   2019-12-11
11   2019-12-12
12   2019-12-13
13   2019-12-14
14   2019-12-15
15   2019-12-16
16   2019-12-17
17   2019-12-18
18   2019-12-19
19   2019-12-20
Name: data, dtype: datetime64[ns]

In [38]:
df.costs

0      2000
1      3000
2      6000
3      7000
4      5000
5      2000
6      1000
7      1000
8      5000
9       500
10     2200
11     7500
12     6600
13      400
14     4000
15     7700
16    10000
17     2222
18     5500
19     3200
Name: costs, dtype: int64

In [39]:
df.data.tail()

15   2019-12-16
16   2019-12-17
17   2019-12-18
18   2019-12-19
19   2019-12-20
Name: data, dtype: datetime64[ns]

In [ ]:
1